// Specific CSS for your home-page
.home-page {
  background-color: #1D3D57;
  height: 100vh;
}

.logo-home {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.slogan {
  color: white;
  font-weight: bold;
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.btn-white {
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px grey;
  font-weight: bold;
  margin: 20px;
  width: 60%;
}

.summary {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.summary h1 {
  color: #1D3D57;
  font-size: 24px;
  margin-bottom: 15px;
}

.summary p {
  color: #333333;
  font-size: 16px;
  margin-bottom: 10px;
}

.home-connection {
  color: white;
  text-decoration: none;
  margin-top: 20px;
}
