// Specific CSS for your home-page
.home-page {
  height: 932px;
  width: 430px;
  background-color: #1D3D57;
}

.logo-home {
  width: 430px;
}

.btn-home {
  background-color: white;
}

.connection {
  color: red;
}
