.food-page {
  background-color: #1D3D57;
  height: 100vh;
}

.food-content {
  padding: 0 20px 0 20px;
}

.food-content {
  padding-top: 100px;
}

.link-decoration {
  text-decoration: none;
}

.food-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 2px solid #EBE7D6;
  border-radius: 10px;

  .background-food-calories {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #FF6E41;
    text-align: center;
    border-radius: 50px;
    width: 70px;
    height: 70px;

    .food-calories {
      margin-top: 0;
      margin-bottom: 10px;
      width: 50px;
      height: 50px;
      font-size: large;
      text-align: center;
      text-decoration: none;
    }
  }

}

// FF6E41
// EBE7D6
// 1D3D57
