<div class="food-page">
  <div class="nav-bar-daily-meal">
    <div class="arrow-back">
      <%= link_to dashboards_path do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </div>
    <div class="food">
      <i class="fa-solid fa-utensils fa-2xl"></i>
    </div>
  </div>
  <%= link_to dashboards_path, class:"link-decoration" do%>
    <div class="food-content">
          <% if @foods.any? %>
            <% @foods.each do |food| %>
      <div class="food-card">
            <div>
              <h4 class="food-title"><%= food.title %></h4>
            </div>
            <div class="background-food-calories">
              <p class="food-calories"><strong><%= food.calories %></strong> cal</p>
            </div>
            <% end %>
      </div>
          <% else %>
            <em>Sorry, no foods found.</em>
          <% end %>
    </div>
  <% end %>
</div>
