<div class="dashboard-page">

  <div class="search">

  </div>

  <div class="dashboard-body">
  </div>

  <div class="navbar_dashboard_bot">
    <nav class="navbar-dashboard">
      <div class="exercices-dashboard">
        <%= link_to exercices_path do %>
          <%# mettre logo exercice %>
          <p>exercices</p>
        <% end %>
      </div>
      <div class="profil-dashboard">
        <%= link_to profils_path do %>
          <%# mettre logo profil %>
          <p>profil</p>
        <% end %>
      </div>
      <div class="meal-dashboard">
        <% @daily_meals.each do |daily_meal| %>
          <%= link_to daily_meal_path(daily_meal) do %>
            <%# mettre logo meal %>
            <p>meals of the day</p>
          <% end %>
        <% end %>
      </div>
    </nav>
  </div>

</div>
