<div class="dashboard-page">

  <div class="search">

  </div>

  <div class="dashboard-body">
  <%= current_user.calorie_counter %>
  </div>


  <div class="navbar_dashboard_bot">
    <nav class="navbar-dashboard">
      <div class="exercices-dashboard">
        <%= link_to exercices_path do %>
          <%# mettre logo exercice %>
          <p>exercices</p>
        <% end %>
      </div>
      <div class="profil-dashboard">
        <%= link_to profils_path do %>
          <%# mettre logo profil %>
          <p>profil</p>
        <% end %>
      </div>
      <div class="meal-dashboard">
        <%# mettre logo meal %>
        <p>meal</p>
      </div>
    </nav>
  </div>

</div>
