.nav-bar-exercices {
  background-color: #EBE7D6;
  position: fixed;
  width: 100%;
  padding: 20px;
}

.icon-exercices {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
i {
  color: #1D3D57;
}
}

.custom-background {
  background-color: #1D3D57;

}
