.nav-bar-exercices {
  background-color: #EBE7D6;
  position: fixed;
  width: 100%;
  padding: 20px;
}

.icon-exercices {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
i {
  color: #1D3D57;
}
}

.exercice-page {
  height: 100vh;
  background-color: #1D3D57;
}

.exercice {
  padding-top: 90px;
}

.exercice-text {
  padding-left: 20px;
  padding-right: 20px;
}

.exercice-title, h4{
  color: #EBE7D6;
}
