<div class="exercice-page">
  <div class="nav-bar-exercices">
    <div class="arrow-back">
      <%= link_to exercices_path do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </div>
    <div class="icon-exercices">
      <i class="fa-solid fa-dumbbell fa-2xl"></i>
    </div>
  </div>

  <div class="exercice">
    <div class="img-exercice">
      </div>
    </div>
    <div class="exercice-text">
      <div class="exercice-title">
        <h4><%= @exercice.title %></h4>
        <h5><strong><%= @exercice.category %></strong></h5>
      <p><%= @exercice.description %></p>
    </div>
  </div>
</div>
